<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/randomPlayer.js"></script>
    <title>Agarrame el temita</title>
</head>
<body id="myBody">
<div class="panel-body" id="myPanel">
    <a class="btn btn-success" id="btnPlay">Play</a>
</div>
<div class="panel-body" id="myResults"></div>

</body>
</html>